.post-info-container{
    background-color: rgb(84, 107, 156);
    /* margin-top: 10px; */
    width: 100%;
    z-index: 2;
    display: flex;
    border-bottom: 0.5px solid rgb(114, 149, 190);
}
.post-info-container:hover{
    cursor: pointer;
    border: 1px greenyellow solid;
    transition: 0.5ms;
}

/* Header */
.post-info-header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: black;
    border: 2px solid black;
    background: rgb(106, 113, 184);
    min-height: 100%;
    min-width: 25%;
    max-width: 25%;
}

/*
    xs, extra-small: 0px
    sm, small: 600px
    md, medium: 900px
    lg, large: 1200px
    xl, extra-large: 1536px
*/

.post-info-header-author {
    font-family: Bebas Neue;
    letter-spacing: 1px;
}

.post-info-header-date {
    font-family: Bebas Neue;
    letter-spacing: 1px;
}


/* Body */
.post-info-body{
    background-color: rgb(12, 17, 26);
    min-width: 75%;
    max-width: 75%;
    color:rgb(193, 255, 255);
    display: flex;
    flex-direction: column;
}

.post-info-body-title{
    font-family: Bebas Neue;
    letter-spacing: 1px;
    padding-top: 15px;
    justify-self: center;
    align-self: center;
}

.post-info-body-content {
    margin: auto 10px;    
    width: calc(90%);
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: Dosis;
    letter-spacing: 1px;
    font-size: large;

}

.post-info-body-time{
    align-self: flex-end;
    font-family: Bebas Neue;
    padding: 0 5px 5px 0;
}